@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'stag-medium';
  src: url('../fonts/stag/Stag-Medium.otf');
}
@font-face {
  font-family: 'stag-book';
  src: url('../fonts/stag/Stag-Book.otf');
}
@font-face {
  font-family: 'stag-light';
  src: url('../fonts/stag/Stag-Light.otf');
}


#site-name a {
	font-family: "stag-book";
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	letter-spacing: 1px;
	font-weight:normal;
}

body {
	font-family: Roboto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
  font-size: 15px;
}


p, .ui-widget {
	margin-bottom: 24px;
	font-family: Roboto;
	line-height: 24px;
	letter-spacing: 0px;
	font-style: normal;
	font-weight: 400;
}


blockquote {
	font-family: source-sans-pro;
  font-size: 15px;  
	padding-left: 2em; 
	border-left: solid #bbb;
	line-height: 24px;
	margin-bottom: 24px;
	padding: 12px 2em;
	background: #f0f0f0;
  margin-top: -18px;
	/* font-style: italic; (interfered with use in referencing guide)*/
	/* font-weight: 400;*/
}
blockquote p {
    font-size: 15px;
    font-family: serif;
    font-family: source-sans-pro;
    margin-top: 6px;
    margin-bottom: 12px;
}
.siteinfo h1 { 
  font-family: "stag-light";
}
h1 {
	font-family: "stag-light";
	line-height: 48px;
	font-size: 36px;
	margin-top: 24px;
	margin-bottom: 16px;
	letter-spacing: -1px;
	/* font-style: italic; */
	font-weight: 400;
}


h2 {
	font-size: 24px;
	line-height: 30px;
	font-family: "stag-light";
	letter-spacing: 0px;
	margin-top: 24px;
	margin-bottom: 16px;
	/* font-style: italic;*/
	font-weight: 400; 
}


h3, h4 {
	font-style: normal;
	font-weight: normal;
	font-family: "stag-book";
	font-size: 21px;
	line-height: 30px;
	margin-bottom: 16px;
}


h5 {
	font-style: normal;
	font-weight: normal;
	font-family: "AvenirNextRoundedW01-Md 1075562";
	font-size: 14px;
	margin-bottom: 24px;
	line-height: 24px;
}

a, a:visited, a:active {
  color: #41a4e0;
}



